<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Hospitales</title>
    <link rel="stylesheet" href="/views/hospital.css">
</head>
<body>
    <h1><%= Consultas hospitalarias %></h1>
    <p><%= Haz aquí tus consultas.%></p>
    <button id="miBoton"><%= Haz clic aquí %></button>
    
</body>
</html>